
.icon_logo{
    display: none;
}
.main-menu .active {
    color: #FF1212;
    font-weight: 500;
    font-size: 25px;
}

@media only screen and (max-width: 991px) {
    .icon_logo {
        display: block;
    }
    .full_logo {
        display: none;
    }
}
